* {
  font-family: monospace serif;
  color: white;
  background-color: #666666;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

header {
  position: sticky;
}

header a {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  text-decoration: none;
}

.title {
  font-size: 24px;
}

main {
  width: 100%;
  padding: 24px;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.contact-form__email {
  width: 100%;
  color: black;
  background-color: white;
}

.contact-form__content {
  width: 100%;
  color: black;
  background-color: white;
}

.contact-form__submit {
  width: 100%;
  background-color: cornflowerblue;
  text-align: center;
}
